/* btncarne.component.css */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .carne-button {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .carne-button:hover {
    background-color: #000;
    color: #fff;
  }
  
  /* Emoji style */
  .carne-emoji {
    margin-left: 8px;
    font-size: 28px;
  }
  