<br><br>
<br><br>
<div class="container">
    <p>ECUADOR</p>
    <div class="Celular">Celular: +5936422103 </div>
    <div class="location">Gmail: jean.narvaez@uisek.edu.ec</div>
    <p>Quito 170134</p>
    
    <div class="map" style="text-align:center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15959.253141963225!2d-78.4840878!3d-0.0910237!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5858d0d75649d%3A0x61c02a7a95fb1493!2sUniversidad%20Internacional%20SEK%20Ecuador!5e0!3m2!1ses!2sec!4v1682024683336!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="container">
        <app-redes-sociales></app-redes-sociales>
    </div>
    
    
</div>